﻿@model webit.Models.Communication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Communication</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateJ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateJ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Job)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Job)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Schedule.ScheduleName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ComID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
