﻿@model IEnumerable<webit.Models.Communication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.ScheduleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComID })
        </td>
    </tr>
}

</table>
