﻿@model webit.Models.MissingList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MissingList</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Job)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Job)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateJob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateJob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Schedule.ScheduleName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MissingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
