﻿@model webit.Models.MissingList

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MissingList</legend>

        @Html.HiddenFor(model => model.MissingID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Day)
            @Html.ValidationMessageFor(model => model.Day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Job)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Job)
            @Html.ValidationMessageFor(model => model.Job)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateJob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateJob)
            @Html.ValidationMessageFor(model => model.DateJob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleID, "Schedule")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ScheduleID", String.Empty)
            @Html.ValidationMessageFor(model => model.ScheduleID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
