﻿@model webit.Models.Assgement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Assgement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateAss)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAss)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Schedule.ScheduleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssgementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
