﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Custom_Index.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/minified.css" />
<link href="~/Content/flexslider.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/responsive.css">

<div class="home">
    <!-- HOMEPAGE SLIDER -->
    <div id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <!-- THE FIRST SLIDE -->
                <li>
                    <!-- THE MAIN IMAGE IN THE SLIDE -->
                    <img src="~/Content/slides/high-school-grads.jpg" alt="" />

                    <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                    <div class="flex-caption h6 text-bold gfc uppercase animated"
                         data-animation="fadeInLeftBig"
                         data-x="800"
                         data-y="110"
                         data-speed="600"
                         data-start="1200">New Way to get your time</div>

                    <div class="flex-caption herotext text-bold gfc animated"
                         data-animation="fadeInRightBig"
                         data-x="580"
                         data-y="140"
                         data-speed="900"
                         data-start="2000">Our new service</div>

                    <div class="flex-caption h6 text-bold gfc text-center animated"
                         data-animation="fadeInDown"
                         data-x="639"
                         data-y="260"
                         data-speed="1600"
                         data-start="2900">
                        enjoy and interesting for it student<br />
                        <a href="" class="btn btn-primary uppercase">Join with us now</a>
                    </div>

                </li>

                <!-- THE SECOND SLIDE -->
                <li style="background: #fa6f57;">
                    <!-- THE MAIN IMAGE IN THE SLIDE -->
                    <img src="~/Content/slides/transparent.png" alt="" />

                    <div class="flex-caption super-giant gfc animated uppercase"
                         data-animation="fadeInUp"
                         data-x="center"
                         data-y="60"
                         data-speed="500"
                         data-start="900">Time</div>

                    <div id="caption-left-round" class="flex-caption round gfc animated uppercase"
                         data-animation="fadeInLeftBig"
                         data-x="140"
                         data-y="60"
                         data-speed="600"
                         data-start="1200"><div class="vmid"><span>Free<br />Always</span></div></div>

                    <div class="flex-caption round gfc animated uppercase"
                         data-animation="fadeInRightBig"
                         data-x="925"
                         data-y="60"
                         data-speed="600"
                         data-start="1200"><div class="vmid"><span>have<br />90 users</span></div></div>

                    <div class="flex-caption h3 gfc animated uppercase"
                         data-animation="fadeInDown"
                         data-x="center"
                         data-y="250"
                         data-speed="400"
                         data-start="1800"><strong class="text-bold">Greatly </strong>Features</div>

                </li>

                <!-- THE SECOND SLIDE -->
                <li>
                    <!-- THE MAIN IMAGE IN THE SLIDE -->
                    <img src="~/Content/slides/18713_miscellaneous_sand_clock.jpg" alt="" />

                    <div class="flex-caption herotext text-bold gfc bg-dark animated uppercase"
                         data-animation="fadeInUpBig"
                         data-x="760"
                         data-y="60"
                         data-speed="900"
                         data-start="100">Convience</div>

                    <div class="flex-caption h2 text-bold gfc bg-dark animated uppercase"
                         data-animation="fadeInUpBig"
                         data-x="797"
                         data-y="175"
                         data-speed="600"
                         data-start="900">On Communicate</div>

                </li>

            </ul>
        </div>

        <script>
        jQuery(function ($) {
            var $slider = $('#home-slider > .flexslider');
            $slider.find('.flex-caption').each(function () {
                var $this = $(this);
                var configs = {
                    left: $this.data('x'),
                    top: $this.data('y'),
                    speed: $this.data('speed') + 'ms',
                    delay: $this.data('start') + 'ms'
                };
                if (configs.left == 'center' && $this.width() !== 0) {
                    configs.left = ($slider.width() - $this.width()) / 2;
                }
                if (configs.top == 'center' && $this.height() !== 0) {
                    configs.top = ($slider.height() - $this.height()) / 2;
                }

                $this.data('positions', configs);

                $this.css({
                    'left': configs.left + 'px',
                    'top': configs.top + 'px',
                    'animation-duration': configs.speed,
                    'animation-delay': configs.delay
                });
            });

            $(window).on('resize', function () {
                var wW = $(window).width(),
                    zoom = (wW >= 1170) ? 1 : wW / 1349;
                $('.flex-caption.gfc').css('zoom', zoom);
            });
            $(window).trigger('resize');



            $slider.imagesLoaded(function () {
                $slider.flexslider({
                    animation: 'slide',
                    easing: 'easeInQuad',
                    slideshow: false,
                    nextText: '<i class="iconfont-angle-right"></i>',
                    prevText: '<i class="iconfont-angle-left"></i>',
                    start: function () {
                        flex_fix_pos(1);
                    },
                    before: function (slider) {
                        // initial caption animation for next show
                        $slider.find('.slides li .animation-done').each(function () {
                            $(this).removeClass('animation-done');
                            var animation = $(this).attr('data-animation');
                            $(this).removeClass(animation);
                        });

                        flex_fix_pos(slider.animatingTo + 1);
                    },
                    after: function () {
                        // run caption animation
                        $slider.find('.flex-active-slide .animated').each(function () {
                            var animation = $(this).attr('data-animation');
                            $(this).addClass('animation-done').addClass(animation);
                        });
                    }
                });
            });


            function flex_fix_pos(i) {
                $slider.find('.slides > li:eq(' + i + ') .gfc').each(function () {
                    var $this = $(this),
                        pos = $(this).data('positions');

                    if (pos.left == 'center') {
                        pos.left = ($slider.width() - $this.width()) / 2;
                        $this.css('left', pos.left + 'px');
                        $this.data('positions', pos);
                    }
                    if (pos.top == 'center') {
                        pos.top = ($slider.height() - $this.height()) / 2;
                        $this.css('left', pos.top + 'px');
                        $this.data('positions', pos);
                    }
                });
            }
        });
        </script>
    </div>
    <!-- // HOMEPAGE SLIDER -->
</div>

<div class="page-body">
    <div class="page-container">
        <div class="main-content">
            <div class="page-title">
                <div class="title-env">
                    <img src="~/images/Clock2.png" width="100" height="100" />
                    <p class="description">TimeManagement IT</p>
                </div>
                <div class="breadcrumb-env">
                    <ol class="breadcrumb bc-1">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Register", "Create", "User")
                        </li>
                        <li>
                            @Html.ActionLink("Sign In", "Contact", "Home")
                        </li>
                    </ol>
                </div>
            </div>
            <div class="yourtime">
                <h2>Change your time! Change your life</h2>
                <p>
                    You having proplem with to- do list time?
                    You need a time management? We can  help you slove you problem.
                    You have a lot of work to do and you confuse to do it one-by-one wisely,
                    so we can organize your list of work logically.
                </p>
            </div>
            <div class="image">
                <img alt="time management" src="~/images/successful.jpg" />
            </div>

        </div>
    </div>
</div>

<div id="footer1">
    Copyright © 2014 Tram Tran
</div>

<script src="~/Scripts/minified.js"></script>
<script src="~/Scripts/jquery.flexslider-min.js"></script>
