﻿@model Bloghaha.Models.Comment

@{
    ViewBag.Title = "_addComment";
}
@using (Html.BeginForm("Create", "Comment", new { idpost = ViewData["idpost"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.DayCreated)
            @Html.ValidationMessageFor(model => model.DayCreated)
        </div>

        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
