﻿@{
    ViewBag.Title = "_ErrorSearch";
}

<h2>ErrorSearch</h2>
<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h3 class="error">Not exits Post by Tag</h3>
</hgroup>
<p>@Html.ActionLink("Back to Search","_Search")</p>
