﻿@model Blog.Models.Tag

@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>
<fieldset>
    @foreach(var p in Model.Posts)
    {
        <div>
            @Html.ActionLink(""+p.Title,"Details/"+p.PostID,"Post")<br />
        </div>
    }
</fieldset>
<p>@Html.ActionLink("Back to Search","_Search")</p>
