﻿@model webit.Models.Schedule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleName)
            @Html.ValidationMessageFor(model => model.ScheduleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Day)
            @Html.ValidationMessageFor(model => model.Day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Job)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Job)
            @Html.ValidationMessageFor(model => model.Job)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateJob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateJob)
            @Html.ValidationMessageFor(model => model.DateJob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Checked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Checked)
            @Html.ValidationMessageFor(model => model.Checked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
