﻿.yourtime{
	font-size:30px;
	font-family:'times new roman';

	width:700px;
    float:left;
    padding:10px;
	border-radius: 25px;
}
.image{
    float:right;
    padding:9px;	 
}

#footer1 {
    background-color:#4C4C4C;
    color:white;
    width:100%;
    position:absolute;
    
    text-align:center;
    padding:5px;	 	 
}

