﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/fonts/linecons/css/css")
    @Styles.Render("~/Content/fonts/fontawesome/css/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts")
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
